@page "/canvas"

<PageTitle>Canvas</PageTitle>

<h1>Canvas</h1>

<InputFile OnChange="@LoadFile" />

<hr/>

@if (imageSource is not null)
{
    <p>
        <img src="@imageSource" />
    </p>
}

<hr />
